html {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 62.5%;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding:0;
}


h1, h2 {
    font-family: 'Mukta', sans-serif;
}
h1 {
    font-size: 4rem;
    margin-top: 5rem;
    font-weight:100;
    margin-bottom: -0.2em;
    letter-spacing: 0.30em;
    padding: 0 4rem 0;

}

h2 {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight:100;
    letter-spacing: 0.2rem;
}
h3 {
    font-size: 1.9em;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
    text-align: center;
}
h4 {
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-bottom: -10px;
}

.content-wrap {
    max-width: 85rem;
    margin: 0 auto;
    padding: 2rem 5rem 4rem;
    overflow: auto;
}

ul, p {
    margin: 0;
    line-height: 3.9rem;
    font-size: 1.3rem;
    font-weight:100;
}


header {
    position: relative;
    height: 100vh;
}

.background1{
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.05), rgba(0,0,0,0.09), rgba(0,0,0,0.4)),
    url(../image/background/datascience.webp) no-repeat fixed;
    background-size: cover;
    background-position: center;
}

.background2 {
     display: inline-block;
     width: 100%;
     height: 105vh;
     background: cornflowerblue;
     background-size: cover;
     background-position: center;
 }

.background1 h1 {
    color: white;
    text-align: center;
    padding-top: 40vh;
}

.background2 h1 {
    color: floralwhite;
    text-align: center;
    padding-top: 5vh;
    margin-bottom: -30px;
}

.abi-icon{
    content: "";
    text-align: center;
    animation: aniicon 0.5s infinite alternate;
    position: relative;
    top: 30px;
}

.abi-icon img{
    margin-right: 15px;
}

@keyframes aniicon {
    from{
        top:25px;
    }
    to{
        top: 0px;
    }
}


.main {
    height: 100vh;
}


.introduction {
    display: block;
    padding-top: 15rem;
}










@media only screen and (max-width: 1300px) {
    .background1 {
        display: inline-block;
        width: 100%;
        height: 100vh;
        font-size: 10rem;
        background: /*linear-gradient(rgba(255,255,255,0.2),
        rgba(0,0,0,0.01)),*/
                url(../image/background/datascience.webp) no-repeat fixed;
        background-size: cover;
        background-position: center;
    }
    .col1, .col2, .col3 {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    .background1 h1 {
        color: white;
        text-align: center;
        padding-top: 30vh;
    }
    .background1 h3 {
        color: white;
        text-align: center;
        font-size: 0.1em;
    }

    .background2 {
        display: inline-block;
        width: 100%;
        height: 160vh;
        background: cornflowerblue;
        background-size: cover;
        background-position: center;
    }

    .background2 h1{
        padding-top: 10vh;
    }
    .main section{
        text-align: center;
        height: 25vh;
    }
    .image {
        margin: 0 auto;
        display: inline-block;
        left: 50%;
        float: none;
    }
    .introduction {
        text-align: center;
    }
    .nav, .mobile-nav {
        background-color:white;
    }
    .mobile-nav {
        height: 100vh;
        padding-bottom: 5rem;
        overflow-y: scroll;
    }
}




